:root {
  --cll-light: #cee8d1;
  --cll-main: #8bcda1;
  --cll-dark: #344d3c;
  --cll-accent-dark: #ff750d;
  --cll-accent-light: #ffaa00;
}

body {
  font-family: "Quicksand", sans-serif;
}

h1 {
  font-weight: 800;
  font-size: 70px;
  text-align: center;
}

h2 {
  font-weight: 700;
}

h3 {
  margin-top: 15px;
}

p {
  line-height: 1.3;
}

.hero {
  background: rgba(139, 205, 161, 0.2);
  text-align: center;
  padding: 100px 40px;
  width: 100%;
  overflow: hidden;
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

.btn-branding {
  background: var(--cll-accent-light);
  color: white;
  padding: 10px 30px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 20px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.btn-branding:hover {
  background: var(--cll-accent-dark);
  color: white;
  font-weight: bold;
}

img {
  width: 100%;
  margin: 0 auto;
}

img.about {
  padding-bottom: 40px;
}

@media (max-width: 576px) {
  img {
    display: inline;
    text-align: center;
  }
  h3,
  p {
    text-align: center;
  }
  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 1em;
  }
}
